@charset "UTF-8";
@import url(<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Parisienne&display=swap" rel="stylesheet">
);

h1 {
    font-family: "Parisienne", cursive; 
    color: rebeccapurple;

}

p {
    color: var(--cor-principal);
    text-align: center;
}

#titulo-prncipal {
    color: blue;
}

